@*@model IEnumerable<CCalculator.Models.DataInner>*@
@model IEnumerable<CCalculator.Models.DIP>

@{
    ViewData["Title"] = "Index";
}

<h1>Рассчет аннуитентного платежа</h1>

@*<p>
    <a asp-controller="DataInners" asp-action="Create">Create New</a>
    <button id="addData">Add data</button>
</p>*@
<h2>График выплат</h2>
<table id="dataInner" class="table">
    <thead>
        <tr>
            <th>
                №
            </th>
            <th>
                Дата платежа@*@Html.DisplayNameFor(model => model.PaymentDate)*@
            </th>
            <th>
                Размер платежа по телу@*@Html.DisplayNameFor(model => model.PaymentByBody)*@
            </th>
            <th>
                Размер платежа по %@*@Html.DisplayNameFor(model => model.PamentByPercent)*@
            </th>
            <th>
                Остаток основного долга@*@Html.DisplayNameFor(model => model.BalanceOwed)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @item.Sequence
            </td>
            <td>
                @item.PaymentDate
            </td>
            <td>
                @item.PaymentByBody
            </td>
            <td>
                @item.PamentByPercent
            </td>
            <td>
                @item.BalanceOwed
            </td>
        </tr>
}
    </tbody>
</table>

<button onclick="location.href='@Url.Action("Create", "DataInners")'">Открыть страницу ввода данных</button>

<script>
    $(document).ready(function () {
        $("#openDataInners").click(function (e) {
            e.preventDefault();
            window.location.href = $(this).attr("href");
        });
    });
    @*
    $(document).ready(function () {
        // Обработка нажатия кнопки "Add data"
        $("#addData").click(function () {
            // Генерация случайных данных
            var newDataInner = {
                /*Id: Math.floor(Math.random() * 1000) + 1,
                Name: "New Data",
                Age: Math.floor(Math.random() * 30) + 20*/
                LoanSum: 1,
                LoanTerm: 1,
                LoanRate: 1// (Math.random() * (50 - 20) + 20).toFixed(2)
            };

            // Добавление новой строки в таблицу
            $("#dataInner tbody").append(
                "<tr>" +
                "<td>" +  newDataInner.LoanSum "</td>" +
                "<td>" + newDataInner.LoanTerm + "</td>" +
                "<td>" + newDataInner.LoanRate + "</td>" +
                "</tr>"
            );
        });
    });*@
</script>